<div class="page-header">
  <h1>
    clipsave: save + organize your favorite youtube clips
  </h1>
</div>

<div class="page-header">
  <h1>
    themes
    <a href="/themes/new" class="btn btn-lg btn-success">new theme</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>

      <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.title %></td>
        <td>
          <a href="/themes/<%= theme.id %>" class="btn btn-primary">Show</a>
          <a href="/themes/<%= theme.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_theme/<%= theme.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
